.doc-embed {
	width: 100%;
	max-width: 900px;
	height: 90vh;
	display: block;
	margin: 40px auto;
	border: none;
	border-radius: 12px;
	box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #b8e81f;
	padding: 20px 40px;
}

.career-image {
	display: block;
	max-width: 950px;
	height: auto;
}

.title {
	text-align: center;
}

.career-list-section {
	background-color: white;
	padding: 40px;
	margin-top: -107px;
	position: relative;
}

.career-list-item {
	margin-bottom: 40px;
}
