.content-wrapper {
  max-width: 100%;
  background-color: #f5c45a;
  padding-bottom: 50px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5c45a;
  border-radius: 12px;
  margin-bottom: 30px;
}

.hero-text {
  padding: 0 50px;
}

.hero-image img {
  width: 500px;
  height: auto;
}

.title {
  color: #000;
  -webkit-text-stroke: 2px #fff;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  line-height: 1.5;
}

.video-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.punchline {
  font-size: 16px;
  color: #000;
  width: 400px;
  line-height: 1.2;
  text-align: left;
}

.video-embed iframe {
  width: 500px;
  height: 315px;
  border-radius: 12px;
}

.footer {
  background-color: black;
  color: #fff;
}

.social-links {
  margin-bottom: 10px;
}

.social-links a {
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;
}

.social-links img {
  width: 30px;
  height: 30px;
}