.content-wrapper {
  max-width: 95%;
  margin-left: 2.5%;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  background-color: #F5C45A;
}

.text-image-wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin-top: 20px;
}

.text-block {
  flex: 3;
}

.image-block {
  flex: 2;
}

.image-block img {
  width: 100%;
  height: auto;
}