.content-wrapper {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}
.hero {
	max-width: 100%;
	background-color: #9bd6e7;
	padding: 40px;
	display: flex;
}
.who-we-are {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px; /* moves background content down */
}
.hero-image img {
	width: 500px;
	height: auto;
}
.hero-text {
	display: flex;
	flex-direction: column;
}
.details-section {
	padding: 20px 40px;
}

.details-section p {
	margin-bottom: 10px;
	color: #393838;
	line-height: 1.5;
}
